<table class="table">
<thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Customer Id</th>
    <th scope="col">Customer identifier</th>
    <th scope="col">Provider name</th>
    <th scope="col">Status</th>
    <th scope="col">Updated at</th>
    <th scope="col">Accounts</th>
    <th scope="col">Actions</th>
  </tr>
</thead>

<tbody>
<% @customer.connections.each do |connection| %>
    <tr>
      <th scope="row"><%= connection.connection_string_id %></th>
      <td><%= @customer.customer_string_id %></td>
      <td><%= @customer.identifier %></td>
      <td><%= connection.provider_name %></td>
      <td><%= connection.status %></td>
      <td><%= connection.updated_at %></td>
      <td><%= button_to "#{connection.accounts.count}", customer_connection_accounts_path(@customer.id, connection.id), method: :get, class: "btn btn-info" %></td>
      <td>
       <ul class="list-inline">
        <li class="list-inline-item">
         <%= button_to "Refresh", { action: "update", id: connection.id, connection_string_id: connection.connection_string_id, perform_action: "refresh" }, method: :put, class: "btn btn-success" %>
        <li>
        <li class="list-inline-item">
         <%= button_to "Reconnect", { action: "update", id: connection.id, perform_action: "reconnect", connection_string_id: connection.connection_string_id}, method: :put, class: "btn btn-warning" %>
        <li>
        <li class="list-inline-item">
           <%= button_to "Delete", { action: "destroy", id: connection.id, connection_string_id: connection.connection_string_id }, method: :delete, class: "btn btn-danger" %>
         <li>
      </ul>
      </td>
    </tr> 
  <% end %>
 
</tbody>
</table>

