<table class="table">
<thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Identifier</th>
    <th scope="col">Secret</th>
    <th scope="col">Created at</th>
    <th scope="col">Connections</th>
  </tr>
</thead>


<tbody>
<% @user.customers.each do |customer| %>
    <tr>
      <th scope="row"><%= customer.customer_string_id %></th>
      <td><%= customer.identifier %></td>
      <td><%= customer.secret %></td>
      <td><%= customer.created_at %></td>
      <td><%= button_to "#{customer.connections.count}", customer_connections_path(customer.id), method: :get, class: "btn btn-info" %></td>
    </tr> 
  <% end %>
 
</tbody>
</table>